body{
    background: #000;
    color: antiquewhite;
}

ul li a{
    color: aquamarine;
}




.hero-home{
    background-image: url('../assets/img/hero-home.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 75vh;
}

.hero-home .inner-container{
    height: 75vh;
}

#logo{
    background-image: url('../assets/img/logo.png');
    background-size: cover;
    background-position: center center;
    width: 50px;
    height: 50px;
    font-size: 0;
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.agregar-alerta{
    display: none;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    padding-left: 10px ;
    min-height: 10%;
    position: fixed;
    bottom: 0;
    justify-content: flex-end;
    flex-direction: column;
    flex-grow: 1;
    animation-duration: 1s;
    animation-fill-mode: both;
    background: #fff url(../assets/img/iconos/apple-icon-72x72.png) no-repeat 5% 50%; 
}